[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
fastapi = "*"
python-jose = "*"
neo4j = "*"
pydantic = "*"
uvicorn = "*"
passlib = "*"
python-multipart = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.12"

[scripts]
local = "uvicorn app.main:app --reload"
